/*----- ----- ----- theme_aigne -> PRINCIPAL CSS ----- ----- -----*/
@font-face {
    font-family: 'eras';
    src: url('[[setting:fontroot]]erasn.eot');
    src: url('[[setting:fontroot]]erasn.eot?#iefix') format('embedded-opentype'),
         url('[[setting:fontroot]]erasn.woff') format('woff'),
         url('[[setting:fontroot]]erasn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aftasans';
    src: url('[[setting:fontroot]]aftasans.eot');
    src: url('[[setting:fontroot]]aftasans.eot?#iefix') format('embedded-opentype'),
         url('[[setting:fontroot]]aftasans.woff') format('woff'),
         url('[[setting:fontroot]]aftasans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'FontAwesome';
    src: url('[[setting:fontroot]]fontawesome.eot?v=3.2.1');
    src: url('[[setting:fontroot]]fontawesome.eot?#iefix&v=3.2.1') format('embedded-opentype'), 
         url('[[setting:fontroot]]fontawesome.woff?v=3.2.1') format('woff'), 
         url('[[setting:fontroot]]fontawesome.ttf?v=3.2.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
BODY {
    font: 13px "Eras Bk BT"; /* catch the yui style */
    }
/*----- ABBR ACRONYM - Abreviaturas -----*/
abbr, 
acronym {
	/*border-bottom: 1px dotted #000000;*/
	border: 0;
	cursor: help;
    }

/*----- A - Enlaces -----*/
A, 
A:link {
    background-color: inherit;
    text-decoration: none;
    color: [[setting:corsch_2]];
    }
A:visited {
    background-color: inherit;
    color: [[setting:corsch_2]];
    }
A:active {
    background-color: inherit;
    color: #0099CC;
    }
A:hover {
    background-color: inherit;
    letter-spacing: [[setting:aletters]];
    color: #CC0000;
    }
A.logoutbtn {
	margin: 0px 0px 0px 0px;
    padding: 1px 1em 1px 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #777777;
    background-color: #D5E1DD;
    color: [[setting:corsch_T]];
    text-decoration: none;
    cursor: pointer;
    }
A.logoutlink {
	margin: 0px 5px 0px 5px;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    }
 
/*----- BODY - Cuerpo de la página -----*/
BODY {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: url([[setting:backbody]]) [[setting:bgposition]] 0 0;
    background-color: [[setting:backcolor]];
    font-family: "[[setting:fontfam]]", Helvetica, sans-serif;
    font-size: [[setting:bodyfont]];
    font-style: normal;
    font-weight: normal;
    color: [[setting:corsch_T]];
    }

/*----- BUTTON - Cuadros de texto + Botones + Casillas + Desplegables -----*/
BUTTON, 
INPUT, 
SELECT {
    margin: 1px 5px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #777777;
    font-family: "[[setting:fontfam]]", Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    }
BUTTON {
    margin: 2px 5px 2px 0px;
    padding: 2px 1em 1px 1em;
    background-color: #D5E1DD;
    }
INPUT {
    padding: 2px 1em 1px 1em;
    background-color: #D5E1DD;
    }
SELECT {
    padding: 1px 1px 1px 0.30em;
    background-color: [[setting:corsch_3]];
    }
INPUT#username, 
INPUT#password {
    margin: 0px 5px 5px 0px;
    border-width: 1px 1px 1px 1px;
    border-style: inset;
    background-color: [[setting:corsch_B]];
    color: [[setting:corsch_T]];
    vertical-align: baseline;
    cursor: default;
    }
INPUT[type="text"], 
INPUT[type="password"] {
    min-height: 1em;
    margin: 0px 5px 5px 0px;
    padding: 1px 0.50em 1px 0.50em;
    background-color: [[setting:corsch_B]];
    cursor: default;
    }
/*INPUT[type="submit"] {
    background-color: #D5E1DD;
    }*/
INPUT[type="image"] {
    margin: 0px 0px 0px 0px;
    vertical-align: bottom;
    }
INPUT[type="checkbox"], 
INPUT[type="radio"] {
    padding: 1px 0.70em 1px 0.70em;
    background-color: [[setting:corsch_3]];
    }
/* Customization of width defined in course/renderer.php L#476 + L#480 + L#484 */
INPUT#navsearchbox {
    width: 20ex; 
    margin: 1px 0px 0px 0px;
    }
INPUT#shortsearchbox {
    width: 40ex;
    }
INPUT#coursesearchbox {
    width: 50ex;
    }

/*----- DIV's like buttons + inputs + selects -----*/
.navbutton {
    float: right;
	margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: right;
    max-height: 1.5em;
    overflow: hidden;
    }
 .navbutton .forumsearch .iconhelp { /*Para ajusta la altura de los anteriore INPUT */
    padding: 0px 5px 0px 5px;
}
.navbutton .singlebutton INPUT, 
.navbutton .forumsearch INPUT {
    padding: 1px 1em 1px 1em;
    font-size: 0.90em;
    cursor: pointer;
    }

#page-admin-tool-installaddon-index #installfromrepobox .singlebutton input[type="submit"] {
    padding: 5px 1em 5px 1em;
    }
.mform .btn-cancel, 
.mform .btn-cancel:active, 
.mform .btn-cancel[disabled], 
.path-mod-survey .reportlink a, 
.continuebutton a {
    padding: 2px 1em 1px 1em;
    border-width: 1px;
    border-style: solid;
    border-color: #777777;
    background-color: #D5E1DD;
    cursor: pointer;
    }
.mform .btn-cancel:hover, 
.mform .btn-cancel:focus {
    background-color: #FFEEFF;
    color: #CC0000;
    }
INPUT[disabled], 
.mform .btn-cancel[disabled]:hover, 
.mform .btn-cancel[disabled]:focus { 
    background-color: #E0E0E0;
    color: #AAAAAA;
    }
.path-mod-survey .reportlink, 
.continuebutton {
    margin: 0.50em 5px 0.50em 5px;
    }
/* Button at the end of a Form */
/*#fgroup_id_buttonar <- si se pone este tipo, algunos botones de los formularios con recuadro tendrán ese borde */
/*table#form td.submit, 
.fp-content-center form+div, 
div.backup-section+form, */
.form-buttons, 
.path-admin .buttons {
    margin: 0px 0px 0px 0px;
    padding: 1em 1em 1em 1em;
    border-width: 1px 0px 0px 0px;
    border-style: dotted;
    border-color: [[setting:corsch_2]];
    text-align: center;
    }
.groupmanagementtable #buttonscell p.arrow_button {
	margin: 7em 0px 0px 0px;
	text-align: center
	}
/* hay que definir la font-family porque esta en base/core.css#173 */
.groupmanagementtable #buttonscell p.arrow_button INPUT {
    min-width: 70%;
    width: auto;
    margin: 1em 0px 0px 0px;
    font-family: "[[setting:fontfam]]", Helvetica, sans-serif;
    overflow: hidden;
    }
/* Collapse All - Expand All */
.mform .collapseexpand {background: url([[pix:t/more]]) no-repeat 6% center;}
.dir-rtl .mform .collapseexpand {background-image: url([[pix:t/more]]); background-position: 94% center;}
.mform .collapse-all {background-image: url([[pix:t/less]]);}

.controls .expandall, 
.controls .collapseall, 
.collapsible-actions .collapseexpand {
 	margin: 1em 1em 1em 1em;
    padding: 2px 1em 1px 2em;
    border-width: 1px;
    border-style: solid;
    border-color: #777777;
    background-color: #D5E1DD;
    color: [[setting:corsch_T]];
    text-decoration: none;
    cursor: pointer;
}
.dir-rtl .controls .expandall, .dir-rtl .controls .collapseall, .dir-rtl .collapsible-actions .collapseexpand {padding: 2px 2em 1px 1em;}
.controls .expandall, .controls .collapseall {float: right;}
.dir-rtl .controls .expandall, .dir-rtl .controls .collapseall {float: left;}
.controls .expandall:hover, 
.controls .collapseall:hover {
    letter-spacing: [[setting:aletters]];
    color: #CC0000;
}
.collapsible-actions {
 	margin: 1em 1px 1em 1px;
}

/*----- CODE + PRE -----*/
code, pre {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 1em 1em 1em 1em;
    border-width: 1px;
    border-style: dashed;
    border-color: #AAAAAA;
	font-family: monospace;
	line-height: 1.20em;
	background-color: [[setting:corsch_4]];
    }

/*----- DIV - Divisor de Formatos -----*/
DIV {
    display: block;
    }

/*----- H - Titulos -----*/
H1, 
H2, 
H3, 
H4, 
H5, 
H6 {
    display: block;
    background-color: inherit;
    }
H1 {
    padding: 0.80em 0px 0.50em 0px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 1.50em;
    }
H2 {
    padding: 0.70em 0px 0.50em 0px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 1.30em;
    }
H3 {
    padding: 0.60em 0px 0.50em 0px;
    margin: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 1.20em;
    }
H4 {
    padding: 0.50em 0px 0.40em 0px;
    margin: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 1.10em;
    }
H5 {
    padding: 0.40em 0px 0.30em 0px;
    margin: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 1em;
    }
H6 {
    padding: 0.30em 0px 0.20em 0px;
    margin: 0px 0px 0px 0px;
    font-weight: normal;
    font-size: 0.80em;  
    }
#pageheading, 
#adminsettings H2, 
.path-admin-repository H2 {
    margin: 1em 0px 0px 0px;
    padding: 1em 0px 1px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
    border-color: [[setting:corsch_2]];
}
#adminsettings H3, 
#page-admin-cache-admin H3 {
    /*width: 75%;*/
    margin: 2em 0px 0px 0px;
    padding: 1px 0px 1em 0px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #E0E0E0;
}
/* Tienen un H3 justo a continuación del H2:
#page-admin-setting-additionalhtml H2, 
#page-admin-setting-modsettingchat H2, 
#page-admin-setting-modsettingglossary H2, 
#page-admin-setting-modsettinglti H2, 
#page-admin-setting-modsettingscorm H2, 
#page-admin-setting-manageformats H2, 
#page-admin-setting-manageenrols H2, 
#page-admin-setting-manageeditors H2, 
#page-admin-setting-editorsettingstinymce H2, 
#page-admin-setting-webservicesoverview H2, 
#page-admin-setting-webserviceprotocols H2,  
#page-admin-cache-admin H2, 
#page-admin-cache-testperformance H2 */

/*----- HR - Línea horizontal de división -----*/
HR {
    display: block;
    margin: 3px 0px 3px 0px;
    background-color: inherit;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dotted [[setting:corsch_2]];
    }

/*----- HTML -----*/
HTML {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }

/*-----  IMG - Imágenes -----*/
IMG.userpicture {
    padding: 0px 0px 0px 0px;
    border: 1px [[setting:corsch_1]] solid;
}
/* Icon styles -> /base/core.css #138 */
h1 img.icon,
h1 img.iconhelp,
h2 img.icon,
h2 img.iconhelp,
h3 img.icon,
h3 img.iconhelp,
h4 img.icon,
h4 img.iconhelp,
h5 img.icon,
h5 img.iconhelp,
h6 img.icon,
h6 img.iconhelp {vertical-align: middle;}
/* Icon styles -> /base/core.css #99 */
/* 16px -> 24px  - Icono al lado del nombre de la actividad */
img.icon {height: 24px; width: 24px; padding: 0px 0.50em 0px 0px; vertical-align: baseline;}
.dir-rtl img.icon {padding: 0px 0px 0px 1em;}
/* 12px -> 16px */
img.iconsmall {height: 12px; width: 12px; margin-right: 0px; padding-right: 0.50em; vertical-align: middle;}
.dir-rtl img.iconsmall {padding-left: 0.50em; padding-right: 0;}
/* 12px -> 16px */
img.smallicon {height: 12px; width: 12px; padding: 0px 0.25em 0px 1px; vertical-align: middle;}
.dir-rtl img.smallicon {padding: 0px 1px 0px 0.25em; }
.fp-icon .smallicon {height: 24px; width: 24px;}
/* 32px - Ativities */
img.iconlarge {height: 32px; width: 32px; vertical-align:middle;}
/* help icon -> helplink no existe -> helplinkpopup */
img.iconhelp, .helplink img {height:16px; width:16px; padding: 3px; vertical-align:text-bottom;}
.dir-rtl img.iconhelp, .dir-rtl .helplink img {padding-right: 3px; padding-left: 0;}
/* others */
img.iconsort { vertical-align: text-bottom; padding-left: .3em; margin-bottom: .15em;}
.dir-rtl img.iconsort { padding-right: .3em; padding-left: 0;}
img.icontoggle {height:17px; width:50px; vertical-align:middle;}
img.iconkbhelp {height:17px; width:49px;}
/* +class to set paddings */
img.icon-pre, 
.dir-rtl img.icon-post {padding-right: 3px; padding-left: 0; }
img.icon-post, 
.dir-rtl img.icon-pre {padding-left: 3px; padding-right: 0; }
/* personalized  _ TODO -> custom height+width -> theme_aigne */
#page-admin-index #plugins-check .displayname .pluginicon {height: 24px; width: 24px;}
#page-admin-plugins #plugins-control-panel .pluginname .pluginicon {height: 24px; width: 24px;}
.path-mod-data IMG.iconsmall {height: 16px; width: 16px; padding: 0px;}
.block_settings .block_tree li.item_with_icon > p img {width: 16px; height: 16px;} /* <- iconos de los bloques (navegación) */

.mform .moreless-toggler {background: url([[pix:t/more]]) no-repeat left center; padding-left: 22px; line-height: 1.5em;}
.dir-rtl .moreless-toggler {padding-left: 0; padding-right: 22px; background-position: right center; }
.mform .moreless-less {background-image: url([[pix:t/less]]);}

.path-admin-roles A IMG:only-child[src*="risk"] {height: 32px; width: 32px;}

/*----- LI -> elementos de listas verticales -----*/
LI {
    display: list-item;
    text-align: left;
    margin-left: 5px;      
    list-style-image: url('');
    }
.dir-rtl LI {text-align: right; margin-left: auto; margin-right: 5px;}
LI LI { 
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 10px;        
    list-style-image: url('');
    }
.dir-rtl LI LI {margin-left: auto; margin-right: 10px;}
LI LI LI {
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 15px;
    list-style-image: url('');
    }
.dir-rtl LI LI LI {margin-left: auto; margin-right: 15px;}
/*----- IL -> elementos de listas horizontales (indent-list) -----*/
IL {
    margin-left: 10px;
    list-style-image: url('');
    }
.dir-rtl IL {margin-left: auto; margin-right: 10px;}
/*----- UL -> listas desordenadas -----*/
UL {
    display: block;
    margin-left: 5px;
    list-style-image: url('');
    }
.dir-rtl UL {margin-left: auto; margin-right: 5px;}
UL UL { 
    margin-top: 0;
    margin-bottom: 0;
    list-style-image: url('');
    }
UL UL UL {
    margin-top: 0; 
    margin-bottom: 0;
    list-style-image: url('');
    } 
UL OL { 
    margin-top: 0;
    margin-bottom: 0;
    }
/*----- OL -> listas ordenadas -----*/
OL {
    display: block;
    margin-left: 0px;
    list-style-type: decimal;
    }
OL OL { 
    margin-top: 0; 
    margin-bottom: 0;
    }
OL OL OL { 
    margin-top: 0; 
    margin-bottom: 0;
    }
OL UL { 
    margin-top: 0; 
    margin-bottom: 0;
    }

/*----- DL - Listas de definición / glosario -----*/
DL {
    }
/*----- DT - Término de la lista de definición -----*/
DT {
    }
/*----- DD - Definición de la lista de definición -----*/
DD {
    }

/*----- MARQUEE - Texto deslizante -----*/
MARQUEE {
    display: block;
    }

/*----- P - Párrafos -----*/
P {
    display: block;
    text-align: justify;
    }

/*----- TABLE - Tablas -----*/
TABLE {
}
TABLE A:hover {
    letter-spacing: normal;
    }
/* Header TABLE */
TABLE.headerop {
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 14px; /* 'em' excep. <-DESIGN, when highest font size selected */
    }
TABLE.headerop TD {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #FFFFFF;
    text-align: center;
    }
.adminsettings .headerop TD {border-bottom-width: 1px;}
TABLE.headerop TD.color_01 {
    background-color: [[setting:corsch_1]];
    }
TABLE.headerop TD.color_02 {
    background-color: [[setting:corsch_2]];
    }
TABLE.headerop TD.color_03 {
    background-color: [[setting:corsch_3]];
    }
TABLE.headerop TD.color_04 {
    background-color: [[setting:corsch_4]];
    }
TABLE.headerop TD.color_05 {
    background-color: [[setting:corsch_5]];
    }
TABLE.headerop TD BUTTON {
    width: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;
    background: none;
    }

/* TABLE.ROLECAP -> Site administration -> Users -> Permissions -> Define roles */
TABLE.rolecap {
    background-color: [[setting:corsch_4]];
}
TABLE.rolecap .rolecapheading {
    background-color: [[setting:corsch_2]];
    color: [[setting:corsch_B]];
}
TABLE.rolecap .riskconfig {
    background-color: #F0F0F0;
}
TABLE.rolecap .riskxss {
    background-color: #E8E8E8;
}
TABLE.rolecap .riskpersonal {
    background-color: #E0E0E0;
}
TABLE.rolecap .riskspam {
    background-color: #D0D0D0;
}
TABLE.rolecap TR.riskdataloss {
    background-color: #C8C8C8;
}

/* Other tables */
TABLE.admintable {
    background-color: [[setting:corsch_4]];
}
TABLE#admindeviceselector IMG, 
TABLE#adminthemeselector IMG {
    width: 100%;
}
TABLE.rolecap, 
TABLE.flexible, 
#trustedhosts TABLE.generaltable, 
#page-message-edit TABLE.generaltable, 
#page-mod-data-field- TABLE.generaltable, 
#page-admin-course-manage TABLE.category_subcategories, 
#page-admin-course-manage #movecourses TABLE.generalbox.boxaligncenter {
    min-width: 75%;
}
TABLE.generaltable THEAD TH, 
TABLE.surveytable .smalltext TH, 
TABLE.category_subcategories THEAD TH, 
#page-admin-course-manage #movecourses TABLE.generalbox.boxaligncenter THEAD TH {
    background-color: [[setting:corsch_2]];
    color: [[setting:corsch_B]];
}
TABLE.generaltable THEAD A {
    color: [[setting:corsch_B]];
}
#admin-devicedetectregex .generaltable {
    border-width: 1px;
    border-style: solid;
    border-color: [[setting:corsch_2]];
    }
.path-mod-survey .surveytable .whitecell {
    background: none;
    }
TABLE.category_subcategories {
    margin: 0px auto 2em auto;
}
/* Alternate colour in tables */
/* Don't have r0/r1: #emoticonsetting + .rolecap */
TABLE.calendarmonth .r0 {background-color: #FFFFFF;}
TABLE.flexible .r0, 
TABLE.generaltable .r0, 
TABLE.collection .r0, 
TABLE.surveytable .r1, 
TABLE.calendarmonth .r1, 
TABLE.category_subcategories .r0, 
#page-admin-course-manage #movecourses TABLE.generalbox.boxaligncenter .r0 {background-color: [[setting:corsch_4]];}

TABLE.flexible .r1, 
TABLE.generaltable .r1, 
TABLE.collection .r1, 
TABLE.category_subcategories .r1, 
#page-admin-course-manage #movecourses TABLE.generalbox.boxaligncenter .r1 {background-color: [[setting:corsch_3]];}


/*----- TEXTAREA - Campos de texto, etc... -----*/
TEXTAREA {
    width: auto;
    padding: 0.50em 0.50em 0.50em 0.50em;
    background-color: [[setting:corsch_B]];
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #777777;
    font-family: "[[setting:fontfam]]", Helvetica, sans-serif;
    color: [[setting:corsch_T]];
    cursor: default;
    }

/*----- Control de visualización de las partes de la página -----*/
#page {
    display: block;
    }
#page-header {
    display: block;   
    }
#headerlogo {
    display: block;   
}
#navcontainer {
    display: block;   
    }
#page-content {
    display: block;
    }
#print {
    display: none;
    }
#page-footer {
    display: block;
    }
#standardfooter {
    display: block;
}

/*----- Login options ------*/
.loginform {
    margin: 5px 0px 5px 0px;
    text-align: left;
    }
.dir-rtl .loginform {text-align: right;}
.loginform .form-label {
    float: left;
    width: 30%;
    margin: 0px 0px 0px 0px;
    text-align: right;
    white-space: nowrap;
    }
.dir-rtl .loginform .form-label {float: right; text-align:left;}
.loginform .form-input input {
    width: 1em;
    }
.loginhead {
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
.dir-rtl .loginhead {position: relative; float: right;}
.loginhead .loginform {
    display: inline;
    }
.userinfohead {
    position: relative;
    float: left;
    width: 100%;
    height: 15px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
.dir-rtl .userinfohead {float: right;}
.userinfohead .userpic {
    position: relative;
    float: right;
    top: -13px;
    width: 35px;
    height: 35px;
    margin: 0px 0px 0px 0px;
    }
.dir-rtl .userinfohead .userpic {float: left;}
/*----- Zona del logotipo -----*/
.logo {
    width: 130px;
    height: 50px;
    margin: 10px auto 0px auto;
    background: url([[setting:logo]]) no-repeat center center;
    }
.slogan {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    color: [[setting:corsch_T]];
    font-family: "[[setting:fontfam]]", Helvetica, sans-serif;
    font-size: 0.80em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    }
/*----- Selector de idiomas instalados -----*/
.langmenu {
    float: right;
    width: 98%;
    margin: 0px 0px 0px 0px;
    padding: 0px 2px 0px 2px;
    background-color: [[setting:corsch_3]];
    border-style: none;
    color: [[setting:corsch_2]];
    }
/*.dir-rtl .langmenu {float: left; padding: 0px 0px 0px 3px;}
/*----- Barra de Navegación (Breadcrumb) y botones de la barra de navegación -----*/
.breadcrumb {
    float: left;
    color: [[setting:corsch_T]];
    background-color: [[setting:corsch_3]];
    }
.breadcrumb ul {
    margin: 0px 0px 0px 0px;
    padding: 1px 0px 0px 0px;
    text-indent: 0;
    list-style: none;
    }
.breadcrumb li, 
.navbutton div, 
.navbutton form {
    display: inline;
    }
/* BREADCRUMB ARROW CUSTOMIZATION */
.breadcrumb span.arrow {
    display: none;
}
.breadcrumb li:after { 
	content: "[[setting:bcsep]]";
	margin: 0px 0px 0px 10px;
   	font-size: 1.1em;
	color: [[setting:corsch_1]];
}
.breadcrumb li:last-child:after { 
	content: none; 
}
/* END BREADCRUMB ARROW CUSTOMIZATION */

/*----- FrontPage Common containers -----*/
.large_info, 
.base_info, 
.acordionh5, 
.sliderv5, 
.acordion_aigne {
	position: relative;
	display: block;
    clear: both;
    float: left;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    }
#page-content .large_info, 
#page-content .base_info, 
#page-content .acordionh5, 
#page-content .sliderv5, 
#page-content .acordion_aigne {
    margin: 0px auto 1em auto;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: [[setting:corsch_1]];
    }

.base_info {
    background-color: transparent;
    overflow: hidden;
    }

/*----- FrontPage Text Information -----*/
.frontmsg {
    margin: 0px 0px 0px 0px;
    padding: 1em 1em 1em 1em;
    overflow: auto;
    }

/*----- FrontPage Banner Fixed Image -----*/
.large_info {
    height: 150px;
    background: url([[setting:headerinfo]]) no-repeat center center;
    background-size: 100% auto;
    }

/*----- FrontPage Information Boxes -----*/
.quadro1,
.quadro2,
.quadro3 {
    position: relative;
    float: left;
    width: 33%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    overflow: hidden;
    }
.quadro2 {
    margin: 0px 0.5% 0px 0.5%;
    }
.quadro1_info, 
.quadro2_info, 
.quadro3_info {
    height: 200px;
    margin: 3px 0px 3px 0px;
    padding: 3px 3px 3px 3px;
    background-color: transparent;
    }
.quadro1_info img, 
.quadro2_info img, 
.quadro3_info img {
    width: 100%;
    max-height: 200px;
    }
.quadro1_info {
    border-width: 1px;
    border-style: solid;
    border-color: [[setting:corsch_1]];
    color: [[setting:corsch_1]];
    text-align: left;
    }
.quadro1_info:hover {
    background-color: [[setting:corsch_3]];
    color: [[setting:corsch_T]];
    cursor: pointer;
    }
.quadro1_info object {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
.quadro2_info {
    border-width: 1px;
    border-style: solid;
    border-color: #FFA500;
    color: #FFA500;
    text-align: center;
    height: 200px;
    overflow: auto;
    }
.quadro2_info:hover {
    background-color: [[setting:corsch_1]];
    color: [[setting:corsch_4]];
    cursor: pointer;
    }
.quadro3_info {
    border-width: 1px;
    border-style: solid;
    border-color: [[setting:corsch_1]];
    color: [[setting:corsch_1]];
    text-align: right;
    }
.quadro3_info:hover {
    background-color: [[setting:corsch_3]];
    color: [[setting:corsch_T]];
    cursor: pointer;
    }
.quadro3_info img {
    opacity: 0.50;
    }
.quadro3_info img:hover {
    opacity: 0.75;
    }
/*----- FrontPage Information Accordion -----*/
/* calculated width about 965px (PC full screen) */ 
.acordionh5 {
    overflow: hidden;
    }
/* Extra space for the last image, to correct position when hover */
.acordionh5 ul {
    width: 150%;
    margin: 0px 0px 0px -1px;
}
/* Visible space of 'un-hovered' images */
.acordionh5 ul:hover li {width: 44px;}
/* Visible space of 'hovered' images (less than image real width */
.acordionh5 ul li:hover {width: 790px;}
/* Preliminar view */
.acordionh5 li {
    position: relative;
    display: block;
    float: left;
    width: 193.20px;
    margin: 10px 0px 10px 0px;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: #CCCCCC;
    box-shadow: -10px 0 25px 5px rgba(90, 90, 90, 0.5);
    -webkit-box-shadow: -10px 0 25px 5px rgba(90, 90, 90, 0.5);
    -moz-box-shadow: -10px 0 25px 5px rgba(90, 90, 90, 0.5);
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    }
.acordionh5 li img {
    display: block;
    }
.acordionh5 .foottxt {
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 800px;
    background: rgba(90, 90, 90, 0.5);
    }
.acordionh5 .foottxt A {
    display: block;
    padding: 0.50em 0.50em 0.50em 0.50em;
    color: #FFFFFF;
    font-size: 1.20em;
    }

/*----- FrontPage Information Vertical Slider -----*/
.sliderv5, 
.sliderv5 #mask {
	height: 150px; /* image height */
    overflow: hidden;
    }
.sliderv5 ul {
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.sliderv5 li {
	position: absolute;
    width: 100%;
	top: -155px; /* image height + 5px */
	margin: 0px 0px 0px 0px;
	list-style: none;
}
.sliderv5 li img {
    width: 100%;
    height: 150px; /* image height */
}
.sliderv5 li.firstanimation {
    animation: cycle1 50s linear infinite;
	-moz-animation: cycle1 50s linear infinite;	
	-webkit-animation: cycle1 50s linear infinite;		
}
.sliderv5 li.secondanimation {
    animation: cycle2 50s linear infinite;
	-moz-animation: cycle2 50s linear infinite;
	-webkit-animation: cycle2 50s linear infinite;		
}
.sliderv5 li.thirdanimation {
    animation: cycle3 50s linear infinite;
	-moz-animation: cycle3 50s linear infinite;
	-webkit-animation: cycle3 50s linear infinite;		
}
.sliderv5 li.fourthanimation {
    animation: cycle4 50s linear infinite;
	-moz-animation: cycle4 50s linear infinite;
	-webkit-animation: cycle4 50s linear infinite;		
}
.sliderv5 li.fifthanimation {
	animation: cycle5 50s linear infinite;
    -moz-animation: cycle5 50s linear infinite;
	-webkit-animation: cycle5 50s linear infinite;		
}
.sliderv5 .tooltip {
	position: relative;
	left: -305px; /* tooltip width + 5 px */
	bottom: 75px;
	width: 300px;
    background: rgba(90, 90, 90, 0.5);
	transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
.sliderv5 .tooltip A {
    display: block;
    padding: 0.50em 0.50em 0.50em 2em;
    color: #FFFFFF;
    font-size: 1.20em;
}
.sliderv5 li:hover .tooltip {
	left: 0px;
}
.sliderv5:hover li, 
.sliderv5:hover .progress-bar {
	animation-play-state: paused;
    -moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}
.sliderv5 .progress-bar { 
    position: relative;
	top: -3px;
	height: 3px;
	background: [[setting:corsch_1]];
	animation: progressv5 50s ease-out infinite;
    -moz-animation: progressv5 50s ease-out infinite;
	-webkit-animation: progressv5 50s ease-out infinite;
}

/*----- FrontPage Information Accordion -----*/
.acordion_aigne {
    width: auto;
	overflow: hidden;
}
.acordion_aigne div {
	float: left;
	position: relative;
}
.acordion_aigne div .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 350px;
	z-index: -1;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	overflow: hidden;
	z-index: 500;
}
.acordion_aigne div label {
	display: block;
	position: relative;
	width: 35px;
	height: 350px;
	background: #777777;
	box-shadow: inset -25px 0px 30px -10px rgba(0,0,0,0.05);
	cursor: pointer;
	color: #FFFFFF;
	overflow: hidden;
	z-index: 1000;
}
.acordion_aigne div label span {
	display: block;
	position: relative;
	top: 100px;
	width: 140px;
	font-size: 1.20em;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);

}
.acordion_aigne input[type=radio] {
	opacity: 0;	
}
.acordion_aigne input:checked ~ .content {
	width: 800px;
	overflow: hidden;
	border-right: 1px solid #ddd;
}
.acordion_aigne .content, 
.acordion_aigne label, 
.acordion_aigne input {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
}
.acordion_aigne label:hover ~ input:checked + .content {
	width: 800px;
}
.acordion_aigne input:checked {
	margin-right: 750px;
}
.acordion_aigne .content .read-more {
	position: absolute;
	bottom: 30px;
	right: 30px;
	text-decoration: none;
	padding: 0.50em 1em 0.50em 1em;
	text-transform: uppercase;
	box-shadow:  0px 4px 6px #132732, 0px 4px 0px #1d3846, inset 0px 15px 30px -10px rgba(255,255,255,0.2);
	background: [[setting:corsch_2]];
	font-weight: bold;
	color: [[setting:corsch_B]];
}
.acordion_aigne .content .read-more:active {
	box-shadow: 0px 2px 0px #1d3846, inset 0px 15px 30px -10px rgba(255,255,255,0.2);	
}
/*----- Footer -----*/
DIV.navhelp {
    clear: both;
    line-height: 3em;
    text-align: center;
    }
DIV.contact {
    padding: 0.50em 2px 0px 2px;
    color: #E0E0E0;
    }
DIV.contact#left {
    float: left;
    left: 0%;
    width: 30%  
    }
DIV.contact#center {
    float: left;
    left: 32%;
    width: 36%;
    }
DIV.contact#right {
    float: right;
    width: 30%   
    }
DIV.contact img:hover {
    background-color: [[setting:corsch_1]];
    }
DIV.fisicalsite {
	position: relative;
	float: left;
	left: 0%;
    padding: 0px 5px 0px 0px;
    }
DIV.credits {
    clear: both;
    line-height: 2em;
    text-align: center;
    color: #E0E0E0;
    }
DIV.credits A {
    color: #E0E0E0;
    }
DIV.copyright {
    line-height: 3em;
    text-align: center;
}
DIV.footerhtml {
    text-align: center;
}
/*#page-footer .logininfo,
#page-footer .sitelink,
#page-footer .helplink {margin: 0px 0px 0px 0px;}*/
#page-footer .performanceinfo.siteinfo, 
#page-footer .performanceinfo.pageinfo, 
#page-footer .purgecaches, 
#page-footer .validators {margin: 0.50em auto 0.50em auto; padding-top: 0.50em; border-top: 1px dotted [[setting:corsch_2]];}
#page-footer .performanceinfo.siteinfo span {display: inline;}
#page-footer .performanceinfo.siteinfo span:after {content: ' / '}
#page-footer .performanceinfo.siteinfo .cachesused {display: block; background-color: [[setting:corsch_2]];}
#page-footer .performanceinfo.siteinfo .cachesused span:after {content: none;}
/*----- General Box -----*/
.generalbox {
    /*margin: 1em auto 1em auto;*/
    padding: 0px 0px 0px 0px;
    border-width: 0px 0px 0px 0px;
}
.mform fieldset {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: [[setting:corsch_1]]; 
}
.mform fieldset .ftoggler {
    margin-bottom: 1em;
    padding: 0px 1em 0px 0.50em;
    font-size: 1.10em;
}
/*----- Coursebox Info + Summary + Sections -----*/
.coursebox {
    width: 100%;
    margin: 1em auto 0px auto;
    padding: 0px 0px 0px 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #E0E0E0;
}
/* course list - course box for even and odd */
.coursebox.odd {
    background-color: [[setting:corsch_4]];
    }
.coursebox.even {}
/* course list - course box for first and last */
.coursebox.first {}
.coursebox.last {}

/* course name */
.coursebox .info H3.name {
    margin: 3px 3px 0px 3px;
    padding: 0px 0px 0px 0px;
    width: 75%;
    line-height: 2em;
    }
/* condicionado por base/course.css */
.coursebox .info H3.name A {
    display: block;
    background: none;
    background-image: url([[pix:moodle|i/course]]);
    background-repeat: no-repeat;
    background-position: left 0.10em; /* 0.20em if image 16x16 */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 32px; /* 25px if image 16x16 */
    }
.dir-rtl .coursebox .info .name A {background-position: right 0.10em; padding: 0px 32px 0px 0px;}
/* course information: summary + coursefile + teachers etc. */
.coursebox .content {
    clear: both;
    width: 90%;
    margin: 0.50em 5px 0.50em 35px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}
.dir-rtl .coursebox .content {margin: 0.50em 35px 0.50em 5px;}
.coursebox .content .coursecat, 
.coursebox .content .summary, 
.coursebox .content .courseimage, 
.coursebox .content .coursefile, 
.coursebox .content .teachers {
    float: left;
    width: 100%;
    margin: 0.50em 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.dir-rtl .coursebox .content .coursecat, 
.dir-rtl .coursebox .content .summary, 
.dir-rtl .coursebox .content .courseimage, 
.dir-rtl .coursebox .content .coursefile, 
.dir-rtl .coursebox .content .teachers {float: right;}
.coursebox .content .summary {
    max-height: 12em;
    overflow: auto;
    }
/* course image */
.coursebox .content .courseimage img {
    max-width: inherit;
    width: 100%;
    max-height: 150px;
    margin-left: 1px;
    }
.dir-rtl .coursebox .content .courseimage img {margin-right: 1px;}
/* course files image */
.coursebox .content .coursefile {
    line-height: 1.60em;
    }
.coursebox .content .coursefile A {
    margin-left: -8px; /* ??? */
    }
.coursebox .fp-icon {
    line-height: 1.60em;
    }
.coursebox .fp-icon .smallicon {
    margin: 0px 0px 0px -2px;
    vertical-align: bottom;
    height: 16px; 
    width: 16px;
    }
/* teacher image */
.coursebox .content .teachers LI {
    display: list-item;
    list-style-image: url([[pix:t/teacher]]); /* 16x16 */
    margin: 0px 0px 0px 26px;
    line-height: 1.60em; 
    }
.dir-rtl .coursebox .content .teachers LI {margin: 0px 26px 0px 0px;}
/* depends on base/course.css */
.coursebox .enrolmenticons, 
.coursebox .moreinfo {
    float: right;
    padding: 0px 0px 0px 0px;
    }
.dir-rtl .coursebox .enrolmenticons, .dir-rtl .coursebox .moreinfo {float: left;}
.coursebox .enrolmenticons img.smallicon,
.coursebox .moreinfo img.smallicon {
    margin: 0.20em 0px 0px 0px;
    height: 32px;
    width: 32px; 
    }
/* course sections _ in course */
.path-course-view .headingblock {
    margin: 0.50em 0px 1em 0px;
}

/* Course Categories */
/* Categorías desactivadas */
.dimmed_category,
.dimmed_category a,
.dimmed_category a:link,
.dimmed_category a:visited {
    color: #AAAAAA;
    }
/* listas de categorias que ocupan mas de una página */
.course_category_tree .subcategories > .paging,
.courses > .paging { 
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    text-align:center;
    }
.courses > .paging.paging-morelink,
.course_category_tree .subcategories > .paging.paging-morelink {
    text-align:left;
    }
.dir-rtl .courses > .paging.paging-morelink,
.dir-rtl .course_category_tree .subcategories > .paging.paging-morelink {text-align:right;}
/* Nombre de la categoría */
.course_category_tree .category > .info .name {
 	margin: 3px 3px 3px 3px;
    padding: 2px 1em 1px 1em;
    }
/* Esto es solo para el triangulo del collapsed */
.course_category_tree .category > .info .name {background: url([[pix:moodle|t/collapsed_empty]]) no-repeat center left;}
.dir-rtl .course_category_tree .category > .info .name {background: url([[pix:moodle|t/collapsed_empty_rtl]]) no-repeat center right;}
.course_category_tree .category.with_children > .info .name {background-image: url([[pix:moodle|t/expanded]]);}
.course_category_tree .category.with_children.collapsed > .info .name {background-image: url([[pix:moodle|t/collapsed]]);}
.dir-rtl .course_category_tree .category.with_children.collapsed > .info .name {background-image: url([[pix:moodle|t/collapsed_rtl]]);}
/* contenido de la categoria -> subcategorías */
.course_category_tree .category.collapsed > .content {display: none;}
.course_category_tree .category > .content {padding-left: 1em; overflow: hidden;}
.dir-rtl .course_category_tree .category > .content {padding-left: 0; padding-right: 1em;}
/* Número de cursos que posee la categoría */
.course_category_tree .category .numberofcourse {font-size: 0.85em;}
/* Botones de expandir y colapsar */
.course_category_tree .controls {visibility: hidden;}
.course_category_tree .controls div {display: inline; cursor: pointer;}
.jsenabled .course_category_tree .controls {clear: both; visibility: visible;}

/* Add/Edit Courses -> Categories */
.categorypicker {
    margin: 2em 0px 1em 0px;
}

/* Course Format: Topic + Weekly + Colours + Columns + Collapsed columns + FlexSections + Grid Icons */
/* each topic */
.course-content ul.topics li.section, 
.course-content ul.weeks li.section, 
.course-content ul.colours li.section { 
    margin: 0.50em 0px 0px 0px;
    padding: 1em 0px 0px 0px;
    }
.course-content ul.topics li.section, 
.course-content ul.weeks li.section, 
.course-content ul.colours li.section, 
.course-content ul.flexsections li.section ul.flexsections li.section, 
.course-content ul.icons li .image_holder {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #E0E0E0;
    }
/* the current active topic/weekly */
.course-content .current {
    background-color: [[setting:corsch_4]];
    }
/* activity block section */
.course-content ul.topics li.section ul.section, 
.course-content ul.weeks li.section ul.section, 
.course-content ul.cntopics li.section.main .content .section {
    margin: 0.50em 1em 1em 0px;
    }
.course-content ul.colours li.section ul.section {
    margin: 0.50em 1em 1em 3em;
    }
.dir-rtl .course-content ul.colours li.section ul.section {margin: 0.50em 3em 1em 1em;}
.course-content ul #section-0 {
    border-color: transparent;
    }
.course-content ul.cntopics #section-0 {
    margin-left: 2px;
    }
.course-content ul.ctopics #section-0 {
    margin-left: 3px;
    }
.format-flexsections .course-content ul.flexsections li.section H3 {
    padding-left: 1em;
    }
.sitetopic .section .activity img.activityicon,
.course-content .section .activity img.activityicon {
    margin: 0px 0.50em 0px 0px;
    vertical-align: text-bottom;
    }
.course-content ul.cntopics .section .activity img.activityicon {
    height: 24px; 
    width: 24px;
    }

/* Course Format: Days */
.course-content TABLE.days TBODY TH {
    padding: 5px 0px 5px 0px;
    border-width: 1px 0px 2px 0px;
    border-style: solid;
    border-color: [[setting:corsch_1]];
    background-color: [[setting:corsch_3]];
}
.course-content TABLE.days TBODY TD {
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: [[setting:corsch_3]];
    }
.course-content TABLE.days TBODY TD:hover {
    background-color: [[setting:corsch_4]];
    }
.course-content TABLE.days TBODY TD.weekday-0, 
.course-content TABLE.days TBODY TD.weekday-6 {
    background-color: #F0F0F0;
    color: #CC0000;
    /*display: block; <- forzar que aparezca, but in element style */
}

/* Course Format: One TABTREE */
.course-content ul.single-section .tabtree {
    padding: 3px 0px 0px 0px;
}
.course-content ul.single-section .tabtree ul {
    margin-bottom: 4px;
}

/* Course Format: Masonry */
.course-content ul.topics.masonry {}
.course-content ul.topics.masonry LI.masonry-brick {} /* each topic, but in element style */

/* Course Format: FlexSections */
.format-flexsections .course-content ul.flexsections {}
.format-flexsections .course-content ul.flexsections li.section ul.flexsections li.section {} /* each topic */

/*----- ----- ------ Tabs ----- ------ -----*/
.tabtree {
    position: relative;
    margin: 0px 0px 3em 0px;
    }
.tabtree ul {
    margin: 0px 0px 0px 0px;
    padding: 2em 0px 6.50px 0px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: [[setting:corsch_1]];
    text-align: center;
    }
.tabtree li {
    display: inline;
    margin: 0px 3px 0px 0px;
    }
.tabtree ul li a {
    padding: 0.50em 1.50em 0.50em 1.50em;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: [[setting:corsch_1]];
    background-color: [[setting:corsch_3]];
}
.tabtree ul li a:hover {
    background-color: [[setting:corsch_4]];
}
.tabtree ul li a.nolink {
    border-bottom: 2px solid transparent;
    background-color: [[setting:corsch_4]];
    /*letter-spacing: normal;*/
    }
.tabtree ul li.here ul {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 1em 0px 6.50px 0px;
    background-color: [[setting:corsch_4]];
    }
.tabtree ul li.here a {
    color: [[setting:corsch_T]];
    letter-spacing: normal;
    }
.tabtree ul li.here .empty {
    display: none;
    }
.tabtree .tabrow1 li a.nolink {
    border-color: transparent;
    }

/*----- Theme Selector -----*/
.theme_screenshot {
    float: left;
    width: 300px;
}
.theme_screenshot img {
    width: 275px;
}
.theme_description {
    margin-left: 300px;
}

/*----- Filemanager -----*/
.filemanager select, 
.filemanager input, 
.filemanager button, 
.filemanager textarea, 
.file-picker select, 
.file-picker input, 
.file-picker button, 
.file-picker textarea {
    background-color: [[setting:corsch_4]];
}
/*----- Admin Pages -----*
/* Plugins management -> /base/admin.css #300 */
#page-admin-plugins #plugins-control-panel .disabled .availability {background-color: #AAAAAA; color: [[setting:corsch_4]];}
#page-admin-plugins #plugins-control-panel .extension .source {background-color: #FFFFCC; color: [[setting:corsch_2]];}
/* forms */
#adminsettings .form-item .form-setting .form-multicheckbox ul {padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}
#adminsettings .form-item .form-setting .form-multicheckbox li {list-style: none; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}
#adminsettings .form-item .form-setting .form-group label {margin: 0px 12px 0px 0px;}
#adminsettings .form-item .form-setting .form-defaultinfo {display: inline; color: #777777;}
#adminsettings .form-item .form-label .form-shortname {display:block; color: #777777;}
.dir-rtl #adminsettings .form-item .form-label .form-shortname {text-align: left;}

/* clearer divs */
.clearer {
    clear: both;
    display: block;
    height: 1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-width: 0;
    background:transparent;
    }
.clearfix:after {
    clear: both; 
    content: ''; 
    display: block; 
    height: 0; 
    min-width: 0; 
    visibility: hidden;
    }

/*----- Important z-index fixes -----*/
.yui-skin-sam .yui-panel-container {
    z-index: 999999!important;
}
body#page-course-view-topics.path-course div.moodle-dialogue-base div.yui3-widget{
    z-index: 700!important;
}

