/*----- ----- ----- theme_aigne -> CUSTOM MENU ----- ----- -----*/
#custommenu ul {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color:[[setting:menucolorhl]];
}
#custommenu ul li {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color:[[setting:menucolorhl]];
}
ul.dropdown span.customitem {
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    width: 100%;
}
ul.dropdown span.customitem {
    padding: 0px 0px 0px 0px;
    width: 100%;
}
ul.dropdown li a,
ul.dropdown span.customitem a {
    padding: 4px 20px 4px 20px;
}
ul.dropdown span.customitem a:hover {
    border: 0px 0px 0px 0px;
}
#custommenu ul.dropdown ul {
    padding: 0px 0px 0px 0px;
    width:auto;
}
#custommenu ul.dropdown ul a {
    padding: 4px 20px 4px 20px;
}
#custommenu ul.dropdown > li span a {
    /*height:16px;*/
}
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style:none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
ul.dropdown {
    position: relative;
    top: 0px;
    z-index: 597;
    float: left;
    font-size: 13px;
}
ul.dropdown li {
    float:left;
    vertical-align:middle;
    background-color:transparent;
    color:[[setting:menucolorhl]];
    zoom:1 !important;
}
ul.dropdown li.hover,
ul.dropdown li:hover {
    position:relative;
    z-index:599;
    cursor:default;
}
ul.dropdown ul {
    visibility:hidden;
    position:absolute;
    top:100%;
    z-index:598;
    left:0;
    right:auto;
    margin-top: 0px;
    font-size: 100%;
}
ul.dropdown ul li {
    float:none;
    background-color:[[setting:menucolor]];
    border-width: 1px;
    border-style: solid;
    border-color:[[setting:menucolorhl]];
    padding: 0px 0px 0px 0px;
}
ul.dropdown ul ul {
    top:0;
    right:auto;
    left:100%;
    margin-top:0;
    border-top:none;
    border-left:none;
}
ul.dropdown li:hover > ul {
    visibility:visible;
}
ul.dropdown span,
ul.dropdown span a,
ul.dropdown li.clickable-with-children > a {
    background-color:[[setting:menucolor]];
    width:auto;
    padding:2px 6px 4px 20px;
    color:[[setting:menucolorhl]];
}
ul.dropdown ul span,
ul.dropdown ul span a,
ul.dropdown ul li.clickable-with-children > a {
    background-color:[[setting:menucolor]];
    background-image: url([[pix:theme|menu/nav-arrow-right]]);
    background-position: 95% 50%;
    background-repeat:no-repeat;
    color:[[setting:menucolorhl]];
}
ul.dropdown ul ul span,
ul.dropdown ul ul span a,
ul.dropdown ul ul li.clickable-with-children > a {
    background-color:[[setting:menucolor]];
    background-image: url([[pix:theme|menu/nav-arrow-right]]);
    background-position: 95% 50%;
    background-repeat:no-repeat;
    color:[[setting:menucolorhl]];
}
ul.dropdown a:link, ul.dropdown a:visited {
    color: white;
    text-decoration: none;
}
ul.dropdown a:hover {
    border: 0px 0px 0px 0px;
    background-color:[[setting:menucolorhl]];
    color:[[setting:menucolor]];
}
ul.dropdown ul ul li {
    background-color:[[setting:menucolor]];
}
ul.dropdown ul ul ul li {
    background-color:[[setting:menucolor]];
}
ul.dropdown li a,
ul.dropdown span,
ul.dropdown span a {
    border: 0px 0px 0px 0px;
    background-color: transparent;
}
ul.dropdown ul li a,
ul.dropdown ul span,
ul.dropdown ul span a {
    border: 0px 0px 0px 0px;
}
ul.dropdown ul ul li a,
ul.dropdown ul ul span,
ul.dropdown ul ul span a {
    border: 0px 0px 0px 0px;
}
ul.dropdown ul ul ul li a,
ul.dropdown ul ul ul span,
ul.dropdown ul ul ul span a {
    border: 0px 0px 0px 0px;
}
ul.dropdown a,ul.dropdown span{
    display:block;
}
ul.dropdown ul a {
    width:166px;
    padding:2px 0 4px 5px;
}
ul.dropdown ul a.open:hover {
    background-color:[[setting:menucolorhl]];
    color:[[setting:menucolor]];
}
ul.dropdown ul li:hover > span,
ul.dropdown ul li:hover > span a {
    background-color:[[setting:menucolorhl]];
    background-image:url([[pix:theme|menu/nav-arrowover-right]]);
    color:[[setting:menucolor]];
}
ul.dropdown li.clickable-with-children:hover > a {
    background-image:url([[pix:theme|menu/nav-arrowover-right]]);
}
ul.dropdown *.open,
ul.dropdown li:hover > span,
ul.dropdown li:hover > span a {
    background-color:[[setting:menucolorhl]];
    color:[[setting:menucolor]];
}
ul.dropdown ul ul *.open,
ul.dropdown ul ul li:hover > span,
ul.dropdown ul ul li:hover > span a {
    background-color:[[setting:menucolorhl]];
    background-image:url([[pix:theme|menu/nav-arrowover-right]]);
    color:[[setting:menucolor]];
}
