/*----- ----- ----- theme_aigne -> Grid Format for Categories List ----- ----- -----*/
/* Create box for each category */
.course_category_tree .category {
    position: relative;
    float: left;
    width: 180px;
    height: 180px;
    margin: 1px 1px 1px 1px;
    padding: 0px 0px 0px 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: [[setting:corsch_2]];
}
/* Adjust color for disabled categories */
.course_category_tree .category.dimmed_category {
    border-color: #AAAAAA;
}
/* Adjust the position of the name */
.course_category_tree .category .info .name {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
/* Hide icon 'colapsed' because it makes no sense here */
.course_category_tree .category > .info .name {background: none;}
.dir-rtl .course_category_tree .category > .info .name {background: none;}
.course_category_tree .category.with_children > .info .name {background: none;}
.course_category_tree .category.with_children.collapsed > .info .name {background: none;}
.dir-rtl .course_category_tree .category.with_children.collapsed > .info .name {background: none;}
/* Place image in each category */
.course_category_tree .category[data-categoryid] {
    background: url([[pix:theme|cat/default]]) no-repeat center 90%;
}
/* Upload the image from each category */
.course_category_tree .category[data-categoryid="1"] {background-image: url([[pix:theme|cat/1]]);}
.course_category_tree .category[data-categoryid="2"] {background-image: url([[pix:theme|cat/2]]);}
.course_category_tree .category[data-categoryid="3"] {background-image: url([[pix:theme|cat/3]]);}
.course_category_tree .category[data-categoryid="4"] {background-image: url([[pix:theme|cat/4]]);}
.course_category_tree .category[data-categoryid="5"] {background-image: url([[pix:theme|cat/5]]);}
.course_category_tree .category[data-categoryid="6"] {background-image: url([[pix:theme|cat/6]]);}
.course_category_tree .category[data-categoryid="7"] {background-image: url([[pix:theme|cat/7]]);}
.course_category_tree .category[data-categoryid="8"] {background-image: url([[pix:theme|cat/8]]);}
.course_category_tree .category[data-categoryid="9"] {background-image: url([[pix:theme|cat/9]]);}
.course_category_tree .category[data-categoryid="10"] {background-image: url([[pix:theme|cat/10]]);}
.course_category_tree .category[data-categoryid="11"] {background-image: url([[pix:theme|cat/11]]);}
.course_category_tree .category[data-categoryid="12"] {background-image: url([[pix:theme|cat/12]]);}
.course_category_tree .category[data-categoryid="13"] {background-image: url([[pix:theme|cat/13]]);}
.course_category_tree .category[data-categoryid="14"] {background-image: url([[pix:theme|cat/14]]);}
.course_category_tree .category[data-categoryid="15"] {background-image: url([[pix:theme|cat/15]]);}
.course_category_tree .category[data-categoryid="16"] {background-image: url([[pix:theme|cat/16]]);}
.course_category_tree .category[data-categoryid="17"] {background-image: url([[pix:theme|cat/17]]);}
.course_category_tree .category[data-categoryid="18"] {background-image: url([[pix:theme|cat/18]]);}
.course_category_tree .category[data-categoryid="19"] {background-image: url([[pix:theme|cat/19]]);}
.course_category_tree .category[data-categoryid="20"] {background-image: url([[pix:theme|cat/20]]);}
/* ... and so on ... */
/* Hide subcategories in the GRID model */
.course_category_tree .category .content {display: none;}
/* Hide buttons to expand and collapse */
.jsenabled .course_category_tree .controls {display: none;}
