/*----- ----- ----- theme_aigne -> Tiny HTML Editor ----- ----- -----*/
BODY {
    background-color: [[setting:corsch_B]];
    color: #222222;
    /*color: [[setting:corsch_T]];*/
    font-family: "eras Bk BT", "afta_sansregular", sans-serif;
    font-size: [[setting:bodyfont]];
    font-style: normal;
    font-weight: normal;
    }
