/*----- ----- ----- theme_aigne -> PRINCIPAL CSS ----- ----- -----*/
@font-face {
    font-family: 'afta_sansregular';
    src: url('[[setting:fontroot]]aftasans.eot');
    src: url('[[setting:fontroot]]aftasans.eot?#iefix') format('embedded-opentype'),
         url('[[setting:fontroot]]aftasans.woff') format('woff'),
         url('[[setting:fontroot]]aftasans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'FontAwesome';
    src: url('[[setting:fontroot]]fontawesome.eot?v=3.2.1');
    src: url('[[setting:fontroot]]fontawesome.eot?#iefix&v=3.2.1') format('embedded-opentype'), 
         url('[[setting:fontroot]]fontawesome.woff?v=3.2.1') format('woff'), 
         url('[[setting:fontroot]]fontawesome.ttf?v=3.2.1') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titilliumregular';
    src: url('[[setting:fontroot]]titillium.eot');
    src: url('[[setting:fontroot]]titillium.eot?#iefix') format('embedded-opentype'),
         url('[[setting:fontroot]]titillium.woff') format('woff'),
         url('[[setting:fontroot]]titillium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
/*----- ABBR ACRONYM - Abreviaturas -----*/
abbr,acronym {
	/*indicating to users that more info is available -> border-bottom: 1px dotted #000000;*/
	border: 0;
	cursor: help;
}
/*----- A - Enlaces -----*/
A, 
A:link {
    background-color: inherit;
    text-decoration: none;
    color: [[setting:corsch_2]];
    }
A:visited {
    background-color: inherit;
    color: [[setting:corsch_2]];
    }
A:active {
    background-color: inherit;
    color: #0099CC;
    }
A:hover {
    background-color: inherit;
    letter-spacing: 1px;
    color: #CC0000;
    }
A.logoutbtn {
    padding: 1px 10px 1px 10px;
	margin: 0px 0px 0px 0px;
    background-color: #D5E1DD;
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    color: [[setting:corsch_T]];
    text-decoration: none;
    cursor: pointer;
    }
A.logoutlink {
    padding: 0px 0px 0px 0px;
	margin: 0px 5px 0px 5px;
    cursor: pointer;
    }
/*----- BODY - Cuerpo de la página -----*/
BODY {
    display: block;
    min-width: 600px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: url([[setting:backbody]]) [[setting:bgposition]] 0 0;
    background-color:[[setting:backcolor]];
    color: [[setting:corsch_T]];
    font-family: "eras Bk BT", "afta_sansregular", sans-serif;
    font-size: [[setting:bodyfont]];
    font-style: normal;
    font-weight: normal;
    }
/*----- BUTTON - Botones + Botones Planos + Casillas + Desplegables -----*/
BUTTON, 
INPUT, 
SELECT {
    margin: 0px 0px 0px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #777777;
    background-color: #D5E1DD;
    font-family: "eras Bk BT", "afta_sansregular", sans-serif;  
    cursor: pointer;
    }
BUTTON {
    padding: 2px 10px 1px 10px;
    text-decoration: none;
    }
INPUT {
    padding: 2px 10px 1px 10px;
    text-decoration: none;
    }
SELECT {
    padding: 1px 1px 1px 5px;
    text-decoration: none;
    }
.ie7 SELECT { /* fixes compatibility view */
    background-color: #EEEEEE;
    color: #003366;
    }
/*----- Login options ------*/
.loginform {
    margin: 5px 0px 5px 0px;
    text-align:left;
    }
.loginform .form-label {
    float: left;
    width: 30%;
    margin: 0px 10px 0px 0px;
    text-align: right;
    white-space: nowrap;
    }
INPUT#username, 
INPUT#password, 
INPUT[type="text"], 
INPUT[type="password"] {
    margin: 0px 5px 5px 0px;
    background-color: [[setting:corsch_B]];
    border-width: 1px 1px 1px 1px;
    border-style: inset;   
    color: [[setting:corsch_T]];
    cursor: default;
    vertical-align: baseline;
    }
.loginhead {
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
.loginhead .loginform {
    display: inline;
    }
.userinfohead {
    position: relative;
    float: left;
    width: 100%;
    height: 15px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
.userinfohead .userpic {
    position: relative;
    float: right;
    top: -13px;
    width: 35px;
    height: 35px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px [[setting:corsch_1]] solid;
    }
/*----- DIV - Divisor de Formatos -----*/
DIV {
    display: block;
    }
  
/*----- DL - -----*/
DL {
    }
/*----- H - Titulos -----*/
H1, 
H2, 
H3, 
H4, 
H5, 
H6 {
    display: block;
    background-color: inherit;
    }
H1 {
    margin: .5em 0;
    font-weight: bold;
    font-size: 1.50em;
    }
H2 {
    margin: .7em 0;
    font-weight: bold;
    font-size: 1.30em;
    }
H3 {
    margin: .8em 0;
    font-weight: normal;
    font-size: 1.20em;
    }
H4 {
    margin: .9em 0;
    font-weight: normal;
    font-size: 1.10em;
    }
H5 {
    margin: 1em 0;
    font-weight: normal;
    font-size: 1em;
    }
H6 {
    margin: 1.2em 0;
    font-weight: normal;
    font-size: 0.80em;  
    }
/*----- HR - Línea horizontal de división -----*/
HR {
    display: block;
    margin: 3px 0px 3px 0px;
    background-color: inherit;
    border-top: 0px;
    border-bottom: 1px dotted [[setting:corsch_2]];
    }
/*----- HTML -----*/
HTML {
    margin: 0;
    padding: 0;
    }
/*----- IL -> elementos de listas horizontales -----*/
IL {
    margin-left: 10px;
    list-style-image: url('');
    }
/*----- LI -> elementos de listas verticales -----*/
LI {
    display: list-item;
    text-align: left;
    margin-left: 5px;      
    list-style-image: url('');
    }
LI LI { 
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 10px;        
    list-style-image: url('');
    }
LI LI LI {
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 15px;
    list-style-image: url('');
    }
/*----- OL -> listas ordenadas -----*/
OL {
    display: block;
    margin-left: 0px;
    list-style-type: decimal;
    }
OL OL { 
    margin-top: 0; 
    margin-bottom: 0;
    }
OL UL { 
    margin-top: 0; 
    margin-bottom: 0;
    }
OL OL OL { 
    margin-top: 0; 
    margin-bottom: 0;
    }
/*----- UL -> listas desordenadas -----*/
UL {
    display: block;
    margin-left: 5px;
    list-style-image: url('');
    }
UL UL { 
    margin-top: 0;
    margin-bottom: 0;
    list-style-image: url('');
    }    
UL OL { 
    margin-top: 0;
    margin-bottom: 0;
    }
UL UL UL {
    margin-top: 0; 
    margin-bottom: 0;
    list-style-image: url('');
    }
/*----- P - Párrafos -----*/
P {
    display: block;
    text-align: justify;
    }
/*----- TABLE - Tablas -----*/
TABLE {
    display: block;
    }
TBODY {
	display: table-row-group;
    }
TFOOT {
	display: table-footer-group;
    }
TABLE.headerop {
    width: 100%;
    font-size: 14px; /* 'em' excep. <-DESIGN, when highest font size selected */

    }
TABLE.headerop TD {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-width: 1px;
    border-color: #FFFFFF;
    border-style: solid;
    text-align: center;
    }
TABLE.headerop BUTTON {
    width: 23px;
    height: 20px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: none;
    border-style: none;
    }
/*----- TEXTAREA - Campos de texto, desplegables, etc... -----*/
TEXTAREA {
    width: auto;
    padding: 0px 0px 0px 0px;
    background-color: [[setting:corsch_B]];
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #777777;
    color: [[setting:corsch_T]];
    text-decoration: none;
    cursor: default;
    }
    
/*----- Prevent some interferences of the base theme -----*/
DIV.notifysuccess {color: #009999; text-align: center; font-size: 1.85em; font-weight: bold;}
TABLE.flexible .r0, TABLE.generaltable .r0 {background-color: [[setting:corsch_3]];}
TABLE.flexible .r1, TABLE.generaltable .r1 {background-color: [[setting:corsch_4]];}
#page-admin-plugins #plugins-control-panel .disabled .availability {background-color: [[setting:corsch_2]]; color: [[setting:corsch_B]];}
#page-admin-plugins #plugins-control-panel .extension .source {background-color: [[setting:corsch_2]]; color: [[setting:corsch_B]];}
TABLE.flexible A:hover, TABLE.generaltable A:hover {letter-spacing: normal;}
.clearfix:after {clear: both; content: ''; display: block; height: 0; min-width: 0; visibility: hidden;}
/*----- Corrige un error con el editor tiny_mce -----*/
TABLE.mceLayout {display: inherit; min-width: 500px; min-height: 135px} /* ampliar min-height 
/*----- REDIRECT + CONTINUE -----*/
.redirectmessage, .continuebutton {padding-bottom: 10px; color: [[setting:corsch_T]]; text-align: center; font-size: 1.2em;}
/*----- Customization of width defined in course/renderer.php L#476 + L#480 + L#484 ----*/
INPUT#navsearchbox {width: 20ex; margin: 1px 0px 0px 0px;}
INPUT#shortsearchbox {width: 40ex;}
INPUT#coursesearchbox {width: 50ex;}
/*----- Control de visualización de las partes de la página -----*/
#page {
    display: block;
    }
#page-header {
    display: block;   
    }
#headerlogo {
    display: block;   
}
#navcontainer {
    display: block;   
    }
#page-content {
    display: block;
    }
#print {
    display: none;
    }
#page-footer {
    display: block;
    }
#standardfooter {
    display: block;
}
/*----- Zona del logotipo -----*/
.logo {
    width: 130px;   
    height: 50px;
    margin: 10px auto 0px auto;
    background: url([[setting:logo]]) no-repeat center center;
    }
.slogan {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    color: [[setting:corsch_T]];
    font-family: "eras Bk BT", "afta_sansregular", sans-serif;
    font-size: 0.80em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    }  
/*----- Selector de idiomas instalados -----*/
.langmenu {
    float: right;
    width: 98%;
    margin: 0px 0px 0px 0px;
    padding: 0px 3px 0px 0px;
    background-color: [[setting:corsch_3]];
    border-style: none;
    color: [[setting:corsch_2]];
    }
/*----- Barra de Navegación (Breadcrumb) y botones de la barra de navegación -----*/
.breadcrumb li, 
.navbutton div, 
.navbutton form {
    display: inline;
    }
.breadcrumb {
    float: left;
    color: [[setting:corsch_T]];
    }
.breadcrumb ul {
    margin-top: 2px;
    text-indent: 0;
    list-style: none;
    }
/* BREADCRUMB ARROW CUSTOMIZATION */
.breadcrumb span.arrow {
    display: none;
}
.breadcrumb li:after { 
	content: "[[setting:bcsep]]";
	font-size: 1.1em;
	margin: 0px 0px 0px 10px;
	color: [[setting:corsch_1]];
}
.breadcrumb li:last-child:after { 
	content: none; 
}
/* END BREADCRUMB ARROW CUSTOMIZATION */
.navbutton {
    float: right;
	margin: 0px 0px 0px 0px;
    text-align: right;
    }
.navbutton .singlebutton input {
    padding: 3px 10px 2px 10px;
    background-color: #D5E1DD;
    border-width: 1px;
    border-style: solid;
    border-color: #777777;
    color: [[setting:corsch_T]];
    font-size: 0.90em;
    cursor: pointer;
    }
/*----- Banner de FrontPage -----*/
.info-banner {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }
#large_info {
    clear: both;
	position: relative;
    width: 100%;
    margin: 0px auto 3px auto;
    padding: 0px 0px 0px 0px;
    /*background: url([[setting:headerinfo]]) repeat-x center center;*/
    background-color: transparent;
    }
#large_info img {
    display: block;
    width: 100%;
    max-height: 150px;
    }
#base_info {
    clear: both;
	position: relative;
	width: 99%;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    }
.quadro1_info, 
.quadro2_info, 
.quadro3_info {
	position: relative;
	float: left;
	left: 0%;
    }
/*----- Footer -----*/
DIV.navhelp {
    clear: both;
    line-height: 3em;
    text-align: center;
    }
DIV.contact {
    padding: 0px 2px 0px 2px;
    }
DIV.contact#left {
    float: left;
    left: 0%;
    width: 30%  
    }
DIV.contact#center {
    float: left;
    left: 32%;
    width: 36%;
    }
DIV.contact#right {
    float: right;
    width: 30%   
    }
DIV.fisicalsite {
	position: relative;
	float: left;
	left: 0%;
    padding: 0px 5px 0px 0px;
    }
DIV.credits {
    clear: both;
    background-color: [[setting:corsch_2]];
    color: #DDDDDD;
    line-height: 3em;
    text-align: center;
    }
DIV.credits A {
    color: #DDDDDD;
    }
/*----- General Box -----*/
.generalbox {
    border: 0 none;
}
/*----- Coursebox Info & Summary -----*/
.coursebox {
    margin: 10px auto 0px auto;
    padding: 0px auto 0px 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #E0E0E0;
}
.coursebox .info {
    float: left;
    width: 98%;
    margin: 0px auto 0px 0px;
    padding: 5px auto 0px 5px;
}
.coursebox .info  h3.name{
    text-align: left;
}
.coursebox .content {
    width: 98%;
    margin: 0px auto 0px 0px;
    padding: 0px auto 0px 0px;
}
.coursebox .content .coursecat, 
.coursebox .content .summary, 
.coursebox .content .courseimage, 
.coursebox .content .coursefile, 
.coursebox .content .teachers {
    float: left;
    width: 80%;
    margin: 0px auto 0px auto;
    padding: 5px 10px 0px 20px;
}
.coursebox .content .teachers li {
    display: list-item;
    text-align: left;
    padding: 0px 0px 0px 9px;
    margin: 0px 0px 0px 25px;
    list-style-image: url(/moodle/theme/image.php?theme=aigne&component=core&image=t%2Fteacher);
}
#page-course-index-category .generalbox.info {
    padding: 5px;
}
/*----- Course Section Topic & Weekly -----*/
.course-content ul.topics li.section, 
.course-content ul.weeks li.section {
    border: 1px solid #E0E0E0;
    list-style: none outside none;
    margin: 5px 0 0;
    padding: 0;
}
.course-content ul.topics li.section {
  padding-top: 1em;
}
.path-course-view .headingblock {
    display: none; /* hides topic items title or weekly itens title */
    margin-bottom: 9px;
}
/* CAMBIO AÑADIDO */
.jsenabled .course_category_tree .controls {
    visibility:visible;
    float: right;
}
.category_label {
    padding-left: 20px;
}
/*----- Collapse All - Expand All -----*/
div.controls .expandall, 
div.controls .collapseall {
    background-color: #D5E1DD;
    color: [[setting:corsch_T]];
    font-size: 0.90em;    
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
    padding: 1px 10px 1px 10px;
	margin: 2px 0px 0px 5px;
	float: right;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    font-variant: small-caps;    
}    
/*----- Theme Selector -----*/
#page-admin-theme-index .generalbox {
    border: none;
}
.theme_screenshot {
    float: left;
    width: 300px;
}
.theme_screenshot img {
    width: 275px;
}
.theme_description {
    margin-left: 300px;
}
.theme_description h2 {
    padding-top: 0.5em;
}
/*----- Tabs -----*/
.tabtree ul {
    text-align:center;
}
.tabtree .tabrow0 {
    width:100%;margin:1em 0px;
}
.tabtree .tabrow0 li {
    margin-right:-4px;
}
.tabtree .tabrow0 li.here {
    font-weight: bold;
}
.tabtree .tabrow0 li.here a {
    position:relative;z-index:102;
}
.tabtree .tabrow0 li a {
    background-image:url([[pix:theme|tab/left]]);
    padding: 10px 0px 3px 14px;
    background-repeat:no-repeat;
    margin-bottom:-1px;
}
.tabtree .tabrow0 li a:hover {
    background-image:url([[pix:theme|tab/left_hover]]);
}
.tabtree .tabrow0 li a span {
    background-image:url([[pix:theme|tab/right]]);
    background-repeat:no-repeat;
    background-position: 100% 0;
    padding: 10px 14px 3px 0px;
}
.tabtree .tabrow0 li a:hover span {
    background-image:url([[pix:theme|tab/right_hover]]);
}
.tabtree .tabrow0 ul, 
.tabtree .tabrow0 div {
    font-weight: normal;
    background-image:url([[pix:theme|tab/tabrow1]]);
    background-position:0% 50%;
    border-top: 1px dotted #EEEEEE;
    padding: 0.25em 0px;
    margin:0px;
}
.tabtree .tabrow0 li.here .empty {
    height:1px;
    overflow:hidden;
    padding: 0px;
    position:absolute;
    width:100%;
    bottom:-4px;
}
.tabtree .tabrow1 li a, 
.tabtree .tabrow1 li a:hover, 
.tabtree .tabrow1 li a span, 
.tabtree .tabrow1 li a:hover span {
    background-image: none !important;
}
.tabtree a.nolink, 
.tabtree .here ul a.nolink, 
.tabtree a.nolink:hover, 
.tabtree .here ul a.nolink:hover {
    color: #CC0000;
    text-decoration: none;
}
.tabtree .here a.nolink, 
.tabtree .here ul .here a.nolink, 
.tabtree .here a.nolink:hover, 
.tabtree .here ul .here a.nolink:hover {
    color: CC0000;
    text-decoration: none;
}
/*----- tab styles for ie6 & ie7 -----*/
.ie7 .tabtree .tabrow0 li {
    margin-left: 0;
}
.ie7 .tabtree .tabrow0 li.first {
    margin-right: -4px;
}
.ie7 .tabtree .tabrow0 li.onerow {
    margin-right: 0;
}
.ie7 .tabtree .tabrow0 a {
    display: inline-block;
    padding: 8px 0 0.35em 13px;
    line-height: 1.5em;
}
.ie7 .tabtree .tabrow0 a span {
    padding: 10px 1em 10px 0;
}
.ie7 .tabtree .tabrow0 div {
    top: 2.6em;
    padding: 0.2em 0;
}
.ie7 .tabtree .tabrow0 div.empty {
    margin-right: 0;
}
.ie7.mod-quiz div.tabtree a span img.iconsmall {
    margin: 0;
    vertical-align: baseline;
    position: relative;
    top: 2px;
}
.ie6 .tabtree {
    height: 100%;
}
.ie6 .tabtree .tabrow0 {
    padding-top: 10px;
}
.ie6 .tabtree .tabrow0 li {
    margin-left: 0;
}
.ie6 .tabtree .tabrow0 li.first {
    margin-left: -4px;
    margin-right: -4px;
}
.ie6 .tabtree .tabrow0 li.last a {
    margin-right: 0;
}
.ie6 .tabtree .tabrow0 li.onerow {
    margin-right: 0;
}
.ie6 .tabtree .tabrow0 a {
    padding: 0 0 0 13px;
}
.ie6 .tabtree .tabrow0 a span {
    padding: 12px 1em 4px 0;
}
.ie6 .tabtree .tabrow0 div {
    top: 3.5em;
    padding: 0.2em 0;
}
/*----- Filemanager -----*/
.filemanager select, 
.filemanager input, 
.filemanager button, 
.filemanager textarea, 
.file-picker select, 
.file-picker input, 
.file-picker button, 
.file-picker textarea {
    background-color: #EEEEEE;
}
/*----- Important z-index fixes -----*/
.yui-skin-sam .yui-panel-container {
    z-index: 999999!important;
}
body#page-course-view-topics.path-course div.moodle-dialogue-base div.yui3-widget{
    z-index: 600!important;
}
/*----- Moodle forms -----*/
.mform .btn-cancel {
    color: [[setting:corsch_2]];
    text-decoration: none;
}
.mform .btn-cancel:hover, 
.mform .btn-cancel:focus {
    color: #CC0000;
    text-decoration: underline;
}
