/*----- ----- ----- theme_aigne -> CSS Color Schema 2 ----- ----- -----*/
/* Color 1    _ Oscuro           _ #001A1A
 * Color 2    _ Color 3 Contrast _ #004040
 * Color 3    _ Principal        _ #4CA9BC
 * Color 4    _ Claro            _ #F2FFEB
 * Color 5    _ Text Background  _ #FFFFFF
 * Text Color _ Color 5 Contrast _ #3C3C3C
 */

/*----- aigne_pagelayout.css -----*/
#page-header {
    background-color: #FFFFFF;
}
#navbar {
    background-color: #4CA9BC;
}
#course-header {
    background-color: #F2FFEB;
}
#region-main {
    border-color: #001A1A;
}
#region-main .region-content {
    background-color: #FFFFFF;
}
#page-footer {
    background-color: #4CA9BC;
    border-color: #001A1A;
}
/*----- aigne_style.css -----*/
A:link, 
A:visited {
    background-color: inherit;
    color: #004040;
    }
A:active {
    background-color: inherit;
    color: #0099CC;
    }

A:hover {
    background-color: inherit;
    color: #CC3300;
    }
A.logoutbtn {
    background-color: #D5E1DD;
    border-color: #787878;
    color: #3C3C3C;
    }
BODY {
    background-color:[[setting:backcolor]];
    color: #3C3C3C;
    }
BUTTON, 
INPUT, 
SELECT {
    background-color: #D5E1DD;
    }
BUTTON {
    border-color: #787878;
    }
INPUT {
    border-color: #787878;
    }
.ie7 SELECT {
    background-color: #EEEEEE;
    color: #003366;
    }
INPUT#username, 
INPUT#password, 
INPUT[type="text"], 
INPUT[type="password"] {
    background-color: #FFFFFF;
    color: #3C3C3C;
    }
.userinfohead .userpic {
    border: 1px #001A1A solid;
    }
H1, 
H2, 
H3, 
H4, 
H5, 
H6 {
    background-color: inherit;
    }
HR {
    background-color: inherit;
    border-bottom: 1px dotted #004040;
    }
TABLE.headerop TD {
    border-color: #FFFFFF;
    }
TEXTAREA {
    background-color: #FFFFFF;
    color: #3C3C3C;
    }
/*----- Prevent some interferences of the base theme -----*/
DIV.notifysuccess {color: #004040;}
TABLE.flexible .r0, TABLE.generaltable .r0 {background-color: #4CA9BC;}
TABLE.flexible .r1, TABLE.generaltable .r1 {background-color: #F2FFEB;}
#page-admin-plugins #plugins-control-panel .disabled .availability {background-color: #004040; color: #FFFFFF;}
#page-admin-plugins #plugins-control-panel .extension .source {background-color: #004040; color: #FFFFFF;}
.redirectmessage, .continuebutton {color: #C3C3C3;}
/*----- Prevent some interferences of the base theme -----*/
.slogan {
    color: #3C3C3C;
    }  
.langmenu {
    background-color: #4CA9BC;
    color: #004040;
    }
.breadcrumb {
    color: #3C3C3C;
    }
.navbutton .singlebutton input {
    background-color: #D5E1DD;
    border-color: #787878;
    color: #3C3C3C;
    }
#large_info {
    background-color: transparent;
    }
DIV.credits {
    background-color: #004040;
    color: #EEEEEE;
    }
DIV.credits A {
    color: #DDDDDD;
    }
.course-content ul.topics li.section, 
.course-content ul.weeks li.section {
    border: 1px solid #DDDDDD;
}
div.controls .expandall, 
div.controls .collapseall {
    background-color: #D5E1DD;
    color: #3C3C3C;
    border-color: #787878; 
}    
.tabtree .tabrow0 ul, 
.tabtree .tabrow0 div {
    border-top: 1px dotted #EEEEEE;
}
.tabtree a.nolink, 
.tabtree .here ul a.nolink, 
.tabtree a.nolink:hover, 
.tabtree .here ul a.nolink:hover {
    color: #888888;
}
.tabtree .here a.nolink, 
.tabtree .here ul .here a.nolink, 
.tabtree .here a.nolink:hover, 
.tabtree .here ul .here a.nolink:hover {
    color: black;
}
.filemanager select, 
.filemanager input, 
.filemanager button, 
.filemanager textarea, 
.file-picker select, 
.file-picker input, 
.file-picker button, 
.file-picker textarea {
    background-color: #EEEEEE;
}
.mform .btn-cancel {
    color: #004040;
}
.mform .btn-cancel:hover, 
.mform .btn-cancel:focus {
    color: #CC3300;
}
/*----- aigne_block.css -----*/
.block {
    border-color: #001A1A;
    background-color: #FFFFFF;
    }
#region-pre .block .header {
    background-color: #777777;
    color: #FFFFFF;
    border-color: #000000;
    }
#region-post .block .header {
    background-color: #004040;
    color: #FFFFFF;
    border-color: #001A1A;
    }
/*----- aigne_dock.css -----*/
#dock .dockeditem {
    background-color: #DDDDDD;
}
#dock .dockedtitle {
    background-color: #AAAAAA;
}
#dock .dockedtitle h2 {
    color: #FFFFFF;
}
.dockedtitle.activeitem h2 {
    color: #FFFFFF;
}
#dock .dockedtitle.activeitem {
    background-color: #AABBCC;
}
#dock .controls {
    background-color: #DDDDDD;
}
#dockeditempanel .dockeditempanel_content {
    background-color: #FFFFFF;
    border-color: #AABBCC;
}
#dockeditempanel .dockeditempanel_hd {
    background-color: #AABBCC;
}
#dockeditempanel .dockeditempanel_hd {
    border-bottom: 1px dotted #AAAAAA;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #FFFFFF;
}
/*----- aigne_mod.css -----*/
/*----- Calendar -----*/
.block .minicalendar td.weekend {
    color: #AA0000;
}
#calendar .event_global,
.minicalendar .event_global,
.block_calendar_month .event_global,
.calendar_event_global {
    border-color: #def2ba !important;
    background-color: #def2ba;
}
#calendar .event_course,
.minicalendar .event_course,
.block_calendar_month .event_course,
.calendar_event_course {
    border-color: #c6dfeb !important;
    background-color: #c6dfeb;
}
#calendar .event_group,
.minicalendar .event_group,
.block_calendar_month .event_group,
.calendar_event_group {
    border-color: #feffc2 !important;
    background-color: #feffc2;
}
#calendar .event_user,
.minicalendar .event_user,
.block_calendar_month .event_user,
.calendar_event_user {
    border-color: #d9c6e2 !important;
    background-color: #d9c6e2;
}
table.minicalendar tr td.weekend {
    color: #f00;
}
/*----- Forum -----*/
.forumpost .topic a:link,
.forumpost .topic a:visited {
    color: #555;
}
.path-mod-forum .forumheaderlist .discussion.r1 {
    background-color: #ededed;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #d9d9d9;
}
.path-mod-forum .forumheaderlist {
    border: 1px solid #ccc;
}
.path-mod-forum .forumheaderlist th.header {
    background-color: #abc;
    border-bottom: 1px solid #036;
}
.path-mod-forum .forumheaderlist td {
    border-color: #ccc;
}
/*----- Grader Report -----*/
.user-grade td.oddd1 {
    background-color: #def
}
.user-grade {
    border: 1px solid #abc;
}
.user-grade td.b1l, .user-grade td.b2l {
    border-left: 2px solid #aaa;
}
.user-grade td.b1b, .user-grade td.b2b {
    border-bottom: 2px solid #aaa;
}
.user-grade td.b1t, .user-grade td.b2t {
    border-top: 2px solid #369;
}
/*----- AJAX User Enroller Panel -----*/
.user-enroller-panel {
    background-color: #666;
    border:1px solid #666;
}
/*----- aigne_rtl.css -----*/
.dir-rtl #region-pre .block .header {
    background-color: #004040;
    color: #FFFFFF;
    border-color: #001A1A;
    }
.dir-rtl #region-post .block .header {
    background-color: #777777;
    color: #FFFFFF;
    border-color: #000000;
    }
/*----- END OF CSS -----*/
